.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas: "h h""n c";
    grid-area: h;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    width: 1200px;

    /* grid-gap: 10px;  растояние между элементами */
}

.app-wrapper-content {
    grid-area: c;
    background: blue;
}